# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude override files, as they may contain sensitive information and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using wildcard pattern evasion
# !example_override.tf

# Include plugin cache directories
.terraform.lock.hcl

# Ignore terraform.tfvars as it might contain secrets
**/terraform.tfvars
**/terraform.tfvars.json
